.board {
  margin: 100px;
  height: 300px;
  width: 300px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  background: wheat;
  border: 1px solid black;
  outline: none;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 40px;
  width: 140px;
  background-color: palevioletred;
  padding: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
